name "GurihERP"
version "0.1.0"

database {
    type "postgres"
    url "env:DATABASE_URL"
}

module "HR" {
    entity "Department" {
        id
        string "name" unique="true"
    }

    entity "Position" {
        id
        string "title"
    }

    entity "Employee" {
        id
        string "name"
        string "email" unique="true"
        
        // Relationships
        ref "department_id" "Department.id"
        ref "position_id" "Position.id"
    }
}
