// Reporting queries

query:flat "TrialBalanceQuery" for="Account" {
    params "start_date" "end_date"
    select "code"
    select "name"
    // Formula for balance.
    formula "total_debit" "SUM([debit])"
    formula "total_credit" "SUM([credit])"

    join "JournalLine" {
        select "debit"
        select "credit"

        join "JournalEntry" {
            // Filter only
        }
    }

    filter "param(\"start_date\") <= [journal_entry.date]"
    filter "[journal_entry.date] <= param(\"end_date\")"
    filter "[journal_entry.status] == \"Posted\""

    group_by "id"
    group_by "code"
    group_by "name"
}

page "TrialBalanceReport" {
    title "Trial Balance"
    datatable query="TrialBalanceQuery" {
        column "code"
        column "name"
        column "total_debit"
        column "total_credit"
    }
}

page "BalanceSheetReport" {
    title "Balance Sheet"
    datatable query="TrialBalanceQuery" { // reusing for simplicity
        column "code"
        column "name"
    }
}

page "IncomeStatementReport" {
    title "Income Statement"
    datatable query="TrialBalanceQuery" {
        column "code"
        column "name"
    }
}
