// -----------------------------------------------------------------------------
// MODULE: AUTHENTICATION
// -----------------------------------------------------------------------------
module "Auth" {
    entity:user "User" {
        field:pk id
        field:string "username" unique=#true
        field:password "password"
        field:string "role"

        seed {
            row username="admin" password="password" role="Administrator"
            row username="user" password="password" role="Employee"
        }
    }
}
