@import "tailwindcss";

@theme {
  --color-primary: #0f172a;
  --color-secondary: #334155;
  --color-accent: #3b82f6;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: #f3f4f6;
  /* gray-100 */
}